html {
    background-image: linear-gradient(rgba(159, 172, 230, .5), rgba(116, 235, 213, .5));
    background-repeat: no-repeat;
    height: 100%;
}

body {
    padding: 50px;
    font-family: 'Barlow', sans-serif;
}

#container {
    display: flex;
    justify-content: center;
}